<h2>Reservation</h2>


<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Bilel" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="table table-striped sortable" id="tableResult">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> 
      <h3 mat-line align="left"> 
              <a mat-button [routerLink]="['/reservation-edit', row.id]">{{row.id}}</a>
     </h3>		 	
    </td>
    </ng-container>

    <!-- date debut -->
    <ng-container matColumnDef="datedebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Debut </th>
      <td mat-cell *matCellDef="let row"> {{row.datedebut | date :  "dd/MM/y"}} </td>
    </ng-container>

        <!-- Type Column -->
    <ng-container matColumnDef="detefin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Fin </th>
      <td mat-cell *matCellDef="let row"> {{row.datefin | date :  "dd/MM/y"}} </td>
    </ng-container>
 
    <!-- Tel Column -->
    <ng-container matColumnDef="appartement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Appartement </th>
      <td mat-cell *matCellDef="let row"> {{row.appratement.name}} - {{row.appratement.id}}  </td>
    </ng-container>

    <!-- CIN Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let row"> {{row.client.name}} - {{row.client.id}}</td>
    </ng-container>

       <!-- CIN Column -->
       <ng-container matColumnDef="typereservation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type Reservation </th>
        <td mat-cell *matCellDef="let row"> {{row.oknok}}</td>
      </ng-container>

      <ng-container matColumnDef="casse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Casse </th>
        <td mat-cell *matCellDef="let row"> {{row.casse? 'oui' : 'non'}}</td>
      </ng-container>

      <ng-container matColumnDef="bruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bruit </th>
        <td mat-cell *matCellDef="let row"> {{row.bruit? 'oui' : 'non'}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'make-gold': row.bruit == true ||row.casse==true || row.oknok==='NOOK'}" *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
 	<button mat-fab color="primary" [routerLink]="['/reservation-add']">Add</button> 


